<% content_for :title, "Forgot password" %>

<h1>Forgot your password?</h1>

<%= form_with url: passwords_path, class: "auth-form" do |form| %>
  <div class="field">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "you@example.com", value: params[:email_address] %>
  </div>
  <%= form.submit "Email reset instructions" %>
<% end %>
